 
<section class="flex flex-col h-screen items-center justify-center gap-5">
    <h1 class="text-5xl ">
        Agarra La Pala
    </h1>
    <p>
        Consigue trabajo, aunque sea en un videojuego
    </p>
    <a href="" target="_blank" class="nes-btn is-primary " style="color: white;">
        Jugar
    </a>
</section>