 
<section class="flex flex-col h-screen items-center justify-center gap-20 bg-gray-200 text-white ">
    <h1 class=" text-border-lg lg:text-6xl text-4xl text-center">
        Agarra La Pala
    </h1>
    <p class="lg:text-3xl text-2xl text-center text-border-md">
        Consigue trabajo, aunque sea en un videojuego
    </p>
    <a href="https://jmjmjmjmjm.itch.io/agarra-la-pala" target="_blank" class="nes-btn is-primary shadow-[7px_7px_0px_0px_rgba(0,0,0,0.75)]" style="color: white;">
        Jugar Demo
    </a>
</section>
