<header
    class="flex h-20 fixed top-0 left-0 w-full justify-between  py-2 z-30 items-center lg:px-40 bg-[var(--primary)] border-b border-current"
>
    <a href="#" class="nes-btn is-primary"> AP </a>
    <nav class="flex gap-5 [&_a]:text-sm  items-center h-full">
        <a class="" href="#play">Juego</a>
        <a href="#IA">IA</a>
    </nav>
</header>
<!-- <script>
    const header = document.querySelector("header") as HTMLElement;
    window.addEventListener("scroll", () => {
        header.style.borderBottom =
            window.scrollY > 100 ? "1px solid white" : "none";
        // header.style.backgroundColor =
        //     window.scrollY > 100 ? "white" : "var(--primary)";
       
    });
</script> -->
<style>
    header {
        transition: all 0.5s ease-in-out;
    }
</style>
