---
import Panel from "./Panel.astro";
import Jobs from "./Jobs.astro";
---

<section
    class="w-full flex flex-col gap-10 active:[&_video]:scale-95"
    id="play"
>

    <h1 class="shadow-text text-4xl z-10 lg:text-start text-center py-10">
        ¿Como Jugar?
    </h1>
    <p class="lg:text-xl">
        Tu misión es convencer a una IA de que te contrate. Que raro no? una
        IA dando trabajo en ves de quitarlo. Itenta conseguir el trabajo de
        tus sueños, o al menos el que te permita pagar la renta.
    </p>
    <Panel
        title="Crea tu curriculum"
        description="A ver, maestro, configúralo y personalízalo como mejor te parezca. No soy yo quien necesita trabajo, así que ponte las pilas."
        direction="right"
    >
        <div>
            <img src="images/curriculum.jpg" class="h-[300px]" alt="" />
        </div>
    </Panel>
    <Panel
        title="Busca trabajo"
        description="Dale, encuentra un empleo. Hay de todo, desde trabajos de medio tiempo para que sigas disfrutando de tus siestas, hasta trabajos de tiempo completo para que no veas la luz del día."
        direction="left"
    >
        <Jobs />
    </Panel>
    <Panel
        title="Entrevistas"
        description="Ahora viene lo divertido. Tienes que convencer a los empleadores con lo que sea necesario. Cuentos, chistes, bailes... ¡lo que haga falta para que te contraten!."
        direction="right"
    >
        <img src="images/entrevista.png" class="h-[300px]" alt="" />
    </Panel>
</section>
