<section class="w-full px-20">
    <h1>¿Como Jugar?</h1>
    <div class="flex items-center justify-around w-full flex-col lg:flex-row">
        <p class="text-center">
            Configura y personaliza tu curriculum como quieras, tu eres el que
            busca laburo no yo, ingeniatelas
        </p>
        <video src="/videos/curriculum.mp4" class="scale-75" loop autoplay
        ></video>
    </div>
    <div class="flex items-center justify-around w-full flex-col lg:flex-row">
        <video src="/videos/trabajo.mp4" class="scale-75" loop autoplay></video>
        <p class="text-center">
            Una vez que tengas tu curriculum listo, comienza a buscar trabajo,
            el que quieras da igual
        </p>
    </div>
</section>
