---
import Github from "../svgs/github.astro";
---

<section
    id="sidebar"
    class="flex justify-center flex-col h-screen gap-5 hover:translate-x-0 transition-all fixed left-0 py-1 z-50 -translate-x-5"
>
    <div
        class="relative flex items-center hover:translate-x-1 transition-transform [&_span]:opacity-0 gap-1"
    >
        <a
            href="https://github.com/JuanMolina2001/agarra-la-pala"
            target="_blank"
            class="nes-pointer active:scale-95 hover:text-current"
        >
            <Github color="black" height="40" width="40" />
        </a>
        <span > github </span>
    </div>
    <div
        class="relative flex items-center hover:translate-x-1  [&_span]:opacity-0 transition-transform gap-1"
    >
        <a
            href="https://jmjmjmjmjm.itch.io/agarra-la-pala"
            target="_blank"
            class="nes-pointer active:scale-95 pt-1"
        >
            <img
                src="images/itch.io.png"
                height="40"
                width="40"
                alt="itch.io icon"
                draggable="false"
            />
        </a>
        <span class=""> itch.io </span>
    </div>
</section>
<style>
    .\[\&_span\]\:opacity-0:hover span{
        opacity: 0.8;
    }
    #sidebar span{
        transition: all  0.5s ease-in;
    }
</style>